.main_wrapper {
display: flex;
width: 100vw;
height: 100vh;


.side_bar{
width: 10%;
height: 30%;
background: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


a {
color: white;
font-family: "Lato", serif;
text-align: center;
padding: 0.5rem;
text-decoration: none;
font-size: 1.3rem;

:visited{
    color: chocolate;
}
}
}


}
